@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,600&display=swap');

body {
    text-align: center;
}

header {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

.games {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 75%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
}
p {
  font-size: 200%;
  padding: 5px;
}

.games div {
      height: 50vh;
      width: 50%;
}

a {
    color: black;
    text-decoration: none;
}

.grid {
    margin: auto;
    border: 1px solid;
    height: 240px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    height: 40px;
    width: 40px;
  }
  
  .player-one {
    background-color: red;
    border-radius: 10px;
  }
  
  .player-two {
    background-color: blue;
    border-radius: 10px;
  }