@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,600&display=swap');

/* Global Styles */

body {
  text-align: center;
  margin: 0 auto;
  background-color: #FFDFD3c9;
  height: 100vh;
}

header {
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  border-bottom: 2px solid black;
  background: url("../images/pattern2.png");  
  background-size: cover;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150%;
}

p {
  font-size: 175%;
  padding: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  padding-top: 10px;
}


.gamebody {
  height: 80%;
}

.game {
  height: 45%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.scores {
  height: 25%;
}

.results {
  height: 25%;
}

.cards {
  height: 100%;
  width: 25%;
  background-image: url(../images/deck_of_cards/blue2.png);
  background-repeat: no-repeat;
}

/* media queries for laptop screens */


/* media queries for tablet screens */

@media only screen and (max-width: 750px) {

header{
  text-align: center;
}

}

/* media queries for smallest size screens */

@media only screen and (max-width: 400px) {

  h2 {
    font-size: 150%;
  }

  p {
    font-size: 100%;
  }

}